$fa-font-path: "~font-awesome/fonts";

@import '~font-awesome/scss/font-awesome.scss';
@import "~bootstrap/scss/bootstrap";

body {
  background: #060606;
  color: #fff;
  padding-bottom: 50px;
}
img {
  max-width: 100%;
  height: auto;
}
.hidden {
  display: none !important;
}
hr {
  border-top: 1px solid #282828;
}
.nav-item {
  vertical-align: middle;
}
.nav-link {
  color: #88887e;
  &:hover,
  &:active,
  &:focus {
    color: #fff;
  }
}
.nav {
  padding: 15px 0;
  border-bottom: 1px solid #282828;
  margin-bottom: 50px;
}
.nav-link__logo {
  color: #fff;
}
.nav-link__icon {
  font-size: 18px;
  margin-right: 5px;
}

// HOME
.home__top {
  margin-bottom: 50px;
}
.list-group-item {
  background: #222;
  margin-bottom: 16px;
  color: #b6b6b6;
}
.list-group-item:hover {
  color: #888888;
  background-color: #484848;
}

// Artist
.card {
  background-color: transparent !important;
  margin-bottom: 20px;
}
.card__caption {
  background-color: #222;
}

// Album
.album__top {
  margin-bottom: 50px;
}
.album__atist__name {
  margin-bottom: 10px;
}
.album__name {
  margin-bottom: 20px;
}
.album__bottom__link__item {
  display: block;
  width: 100%;
  font-size: 15px;
}
.album__bottom__link__item a:hover {
  color: #2c75d8;
}
